

    <%= form_for [@album, @photo] ,remote: true, html: {multipart: true}, :html => {:id => "new_photo"}, html: { hidden: true } do |f| %>
      <%# byebug %>
      <% if @photo.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

          <ul>
          <% @photo.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%#= f.label :picture %><br>
        <%= f.file_field :picture, type: :file, multiple: true, name: "photo[picture]", id: "file-upload" %>
      </div>
      <div class="actions">
        <%#= f.submit "Upload Photos", class: "btn btn-default" %>
      </div>
    <% end %>
