
<%= form_for [@album, @selection] do %>
    <%= select_tag 'photo_list', options_for_select(@photos.collect{ |u| [ u.id, {'data-img-src' => u.picture.url(:thumb)},{'data-href-src' => album_photo_url(@album, u)},{'data-href-src-img' => u.picture.url}] }), :multiple => true, id: 'selectImage', class: 'show-html image-picker' %> <%#image-picker class="thumbnails image-picker-selector" %>

    <nav class="navbar navbar-default navbar-fixed-bottom navbar-hide" id="sel-footer">
      <div class="container">

      	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-left"> 

                      <li><%= text_field_tag "selection[name]", nil, :placeholder => "Selection Name", class: "form-control" %></li>
                      <li><%= submit_tag ("Create Selection"), class: "btn btn-default" %></li>
          </ul>

<% end %>

          <ul class="nav navbar-nav navbar-right"> 
    				  <button type="button" class="btn btn-default navbar-btn">Download</button>
              <li></li>
          </ul>

        </div>

      </div>
     </nav>