	<div class="row">
	  <div class="col-md-4 col-md-offset-4">

		<p id="notice"><%= notice %></p>

		<%#= render 'photoupload' %>

		<%#= link_to 'Edit', edit_album_path(@album) %> 

		</div>
	</div>

<%= render 'albums/albumpartial' %>
<%#= render 'albums/selection_footer' %>

<%= button_to "Download this Selection", download_album_selection_path, class: "btn btn-default navbar-btn footer-buttons", id: "download-button" %>