@import "bootstrap-sprockets";
@import "bootstrap";

.thumbnail img {
    width: 100%; 
}

.grid-item:hover img {
    background-color: #ffffff;
    opacity: 0.3; 
}

.masonry-brick:hover img {
    border-color: #CDC9C9;
    background-color: #ffffff;
    opacity: 0.3;
}

.masonry-brick img {
  border-style: solid;
  border-width: 2px;
  border-color: #ffffff;
}

.masonry-brick:hover a {
   display: inline;  
}

.grid-item:hover a {
   display: inline;  
}

img.gallery-photos {
    filter: none;
    -webkit-filter: grayscale(0);
    vertical-align: top;
    
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  margin: 5px;
  positions: relative;
  z-index:100;
}

.delete-link {
    position: absolute;
    top: 10px; /*your button position*/
    right: 10px; /*your button position*/
    z-index:97;
    display: none;
}

.show-link {
  position:absolute;
  top: 50px;
  right: 10px;
  z-index:97;
  display: none;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    border-radius:0;
}

#album-title {
  font-size: 16px;
  color: #ffffff;
}

.navbar-default {
  background: #ffffff;
}

.navbar-fixed {
  position: fixed;
  top: 0;
}

.navbar-hide {
  display: none;
}


